@import "tailwindcss";

/* create colour palette */
@theme {
    --color-accent: #9D4EDD; /* Purple color 9D4EDD */
    --color-secondary: #2E1A47; /* Dark Text color */
    --color-primary: #FAF7FF; /* Light background color */
}